/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* # Our Style */
*,
*::after,
*::before {
	box-sizing: border-box;
}
body{
	font-size: 16px;
	line-height: 1.5;
	padding: 32px 0;
	font-family: "Karla", sans-serif;
}

/* General */

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 32px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "DM Serif Display", serif;
	letter-spacing: -1px;
}

.align_start {
	align-items: flex-start;
}
hr {
	width: 150px;
	display: inline-block;
}
.Highlite {
	padding: 6px 8px;
	border: 2px solid rgb(151, 150, 150);
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.Highlite-btn {
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
}
.para {
	font-weight: 200;
	margin: 15px 0;
	font-size: 15px;
}
.padding {
	padding: 80px 0;
}


/* Header Navbar */

h1 {
	font-size: 28px;
}
.header-nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: gray; 
	font-weight: 600;
	margin-left: 28px;
	font-size: 15px;
}


/* Header_Section */

.header-section {
	background-color: #2D2640;
	padding: 30px 0;
	color: #fff;
}
.col-1 {
	flex: 0 1 40%;
}
.col-1 h2 {
	font-size: 48px;
	line-height: 1.2;
}
.first_img {
	width: 100%;
	margin-bottom: -140px;
}


/* Section_Main */

.section_main {
	margin-top: 80px;
}
.col-2 {
	flex: 0 1 45%;
}
.Second_img {
	width: 100%;
}

/* Heading_3 */
.heading {
	font-size: 36px;
	color: #01122D;
	padding-bottom: 10px;
}

.col-2 a{
	color: gray;
}


/* Section_End */
.col-3{
	flex: 0 1 32%;
}
h4{
	font-size: 24px;
	padding-bottom: 8px;
	font-weight: 600;
}
.user_gear {
	color: #fff;
	background-color: #4959ab;
	display: inline-block;
	border-radius: 50%;
	padding: 12px 5px;
	margin: 15px 0;
}
